/* overwriting Semantic UI defaults */

.overflow-x-hidden {
  /*
    on "the other browsers" setting this value on body does not have effect,
    so we also need to apply it to the "document"
  */
  overflow-x: hidden;
}

.scrollable {
  /* 
     semantic-ui default on .pushable body is overflow-x: hidden,
     which breakes the jquery "sortable" plugin badly; we need this
     additional class to restore "overflow" when sidebar is hidden 
  */
  overflow: initial;
}

.pushable > .pusher {
  overflow: initial; /* fixes a BUG in FF */
}

.ui.blog.items > .item > .image > img {
  border-radius: 50%;
}

.ui.blog.items > .item > .content > .description {
  max-width: inherit;
}

.ui.blog.items > .item > .content > .header {
  font-size: 1.8em;
  margin-bottom: 0.4em;
}

.ui.bio.items > .item > .image img {
  border-radius: 50%;
}

.ui.bio.items > .item > .content > .description {
  border-radius: 50%;
  max-width: inherit;
}
