/* overwriting Semantic UI defaults */

.pushable > .pusher {
  overflow: initial; /* fixes a BUG in FF */
}

.ui.blog.items > .item > .image > img {
  border-radius: 50%;
}

.ui.blog.items > .item > .content > .description {
  max-width: inherit;
}

.ui.blog.items > .item > .content > .header {
  font-size: 1.8em;
  margin-bottom: 0.4em;
}

.ui.bio.items > .item > .image img {
  border-radius: 50%;
}

.ui.bio.items > .item > .content > .description {
  border-radius: 50%;
  max-width: inherit;
}

/*******************************************/
.chunks-container {
  position: relative;
}