<template name="footer">
  <div class="ui inverted footer segment">
    <div class="ui three column grid">
      <div class="column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      Copyright {{year}} Anticoders
    </div>
  </div>
</template>
