<template name="sidebar">

  <div class="ui left vertical inverted labeled icon sidebar menu">
    <a class="item" href="{{pathFor 'landingPage'}}" data-action="toggle">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor 'blogList'}}" data-action="toggle">
      <i class="cube icon"></i>
      Blog
    </a>
    <a class="item" href="{{pathFor 'about'}}" data-action="toggle">
      <i class="child icon"></i>
      About
    </a>
    {{#unless currentUser}}
    <a class="item" href="{{pathFor 'login'}}" data-action="toggle">
      <i class="sign in icon"></i>
      Login
    </a>
    {{else}}
      {{#if canCreate}}
      <a class="item" data-action="create">
        <i class="write icon"></i>
        Write
      </a>
      {{/if}}
      <a class="item" href="{{pathFor 'profile'}}" data-action="toggle">
        <i class="user icon"></i>
        Profile
      </a>
      <a class="item" href="{{pathFor 'landingPage'}}" data-action="logout">
        <i class="sign out icon"></i>
        Logout
      </a>
    {{/unless}}
  </div>

  <div class="ui black big launch right attached fixed button" data-action="toggle">
    <i class="content icon"></i>
  </div>

</template>
