<template name="addChunkButton">

  <div class="ui buttons">
    <div class="ui floating icon dropdown button">
      <span class="text">choose type ...</span>
      <div class="menu">
        <div class="item" data-value="text">
          <i class="align justify icon"></i>
          markdown
        </div>
        <div class="item" data-value="code">
          <i class="code icon"></i>
          source code
        </div>
        <div class="item" data-value="math">
          <i class="superscript icon"></i>
          formula
        </div>
      </div>
    </div>
    <div class="ui primary icon button" data-action="trigger">
      <i class="add icon"></i>
    </div>
  </div>

</template>
