<template name="chunkEditor">
  <div class="{{column}} chunk editor chunk-type-{{./chunk.type}}">
    <div class="resizable">
      <div class="toolbar">
        <div class="ui icon buttons">
          <div class="ui compact move chunk button">
            <i class="move icon"></i>
          </div>
          <div class="ui compact chunk button" data-action="">
            <i class="compress icon"></i>
          </div>
          <div class="ui compact chunk button" data-action="">
            <i class="content icon"></i>
          </div>
          <div class="ui compact icon remove chunk button" data-action="removeChunk">
            <i class="close icon"></i>
          </div>
        </div>
      </div>
      <div class="ui compact icon resize chunk button ui-resizable-handle ui-resizable-horizontal">
      </div>
    </div>
  </div>
</template>
