<template name="about">
  {{#contentFor 'header'}}
    <h1>About us ...</h1>
  {{/contentFor}}

  {{> breadcrumb items=$helpers.breadcrumb}}

  <p>{{lorem}}</p>

  <div class="ui items">
    {{#each members}}
      {{#Layout template='bio'}}

        {{#contentFor 'header'}}
          {{name}}
        {{/contentFor}}

        {{#contentFor 'meta'}}
          {{motto}}
        {{/contentFor}}

        {{#contentFor 'image'}}
          <img src="http://lorempixel.com/200/200/people/{{index}}">
        {{/contentFor}}

    {{#markdown}}{{bio}}{{/markdown}}

      {{/Layout}}

      <div class="ui hidden divider"></div>
    {{/each}}
  </div>
</template>
