<template name="about">
  {{#contentFor 'header'}}
    <h1>Who we are?</h1>
  {{/contentFor}}

  {{> breadcrumb items=$helpers.breadcrumb}}

  <div class="ui stackable grid">
    <div class="ten wide column">
      <p>{{lorem}}</p>
      <a class="ui primary button" href="{{pathFor 'blogList'}}">see our blog</a>
    </div>
    <div class="six wide column">
      <img class="ui circular large image" src="/assets/images/avatars/default_00.svg">
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui bio items">
    {{#each authors}}
      {{#Layout template='bio'}}

        {{#contentFor 'header'}}
          {{profile.firstName}} {{profile.lastName}}
        {{/contentFor}}

        {{#contentFor 'meta'}}
          {{profile.motto}}
        {{/contentFor}}

        {{#contentFor 'image'}}
          <img src="{{./getAvatarUrl}}">
        {{/contentFor}}

{{#markdown}}{{profile.biography}}{{/markdown}}

      {{/Layout}}

      <div class="ui hidden divider"></div>
    {{/each}}
  </div>
</template>
