<template name="blogPost">

  {{#contentFor 'header'}}
    <div class="ui circular small left floated image">
      <img src="http://lorempixel.com/200/200/people">
    </div>
    <h1>{{title}}</h1>
    <p>{{summary}}</p>
  {{/contentFor}}

  {{#breadcrumb items=$helpers.breadcrumb}}
    {{#if $app.canEdit}}
      <i class="right chevron icon divider"></i>
      <a class="section" href="{{pathFor 'blogPostEdit'}}">edit</a>
    {{/if}}
  {{/breadcrumb}}

  {{#each chunks}}
    <p>
      {{#markdown}}{{content}}{{/markdown}}
    </p>
  {{/each}}
  <small>{{createdAt}}</small>
</template>
