<template name="blogPostEdit">
  {{> breadcrumb items=$.breadcrumb}}

  <div class="ui hidden divider"></div>

  {{#contentFor 'header'}}
    <div class="ui grid">
      <div class="thirteen wide column">
        {{> titleEditor this}}
        {{> summaryEditor this}}
      </div>
    </div>
  {{/contentFor}}

  <p>{{> publishButton}}</p>

  <div class="ui grid chunks container">
  </div>

  <p>
    <button class="ui labeled icon button positive" data-action="addChunk">
      <i class="add icon"></i>
      Add new chunk
    </button>
  </p>
</template>
