
<template name="blogList">
  {{#contentFor 'header'}}
    <h1>List of all blog posts.</h1>
  {{/contentFor}}

  {{#breadcrumb items=$helpers.breadcrumb}}
    {{#if $app.canEdit}}
      <i class="right chevron icon divider"></i>
      <a class="section" href="#" data-action='create'>edit a new post <i class="ui write icon"></i></a>
    {{/if}}
  {{/breadcrumb}}

  <div class="ui blog items">
    {{#each listOfRecentPosts}}
    <div class="item">
      <div class="image">
        <img src="{{image}}">
      </div>
      <div class="content">
        <a class="header" href="{{pathFor 'blogPost'}}" data-action="scrollTop">{{title}}</a>
        <div class="meta">
          <span class="date">{{./getAuthorInfo}}</span>
        </div>
        <div class="description">
          {{#markdown}}{{summary}}{{/markdown}}
        </div>
        <div class="extra">
          {{#each tags}}
            <div class="ui horizontal label"><i class="tag icon"></i> {{this}}</div>
          {{/each}}
          <a class="ui right floated small primary compact button" href="{{pathFor 'blogPost'}}" data-action="scrollTop">
            read more
          </a>
          {{#if $app.canEdit}}
            <a class="ui right floated small compact labeled icon button" href="{{pathFor 'blogPostEdit'}}" data-action="scrollTop">
              edit this post <i class="ui icon write"></i>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
    {{/each}}
  </div>
</template>
