<template name="blogPostEdit">
  {{> breadcrumb items=$.breadcrumb}}

  <div class="ui hidden divider"></div>

  {{> publishButton}}

  {{#contentFor 'header'}}
    <div class="ui grid">
      <div class="thirteen wide column">
        {{> titleEditor this}}
        {{> summaryEditor this}}
      </div>
    </div>
  {{/contentFor}}

  <div class="chunks-container">
    {{#each $.enumerated chunks}}
      {{> chunkEditor chunk=this blogPostId=../_id}}
    {{/each}}
  </div>
  <div class="ui labeled icon button positive" data-action="addChunk">
    <i class="add icon"></i>
    Add new chunk
  </div>
</template>
