<template name="blogPost">

  {{#contentFor 'header'}}
    <div class="ui grid">
      <div class="three wide column">
        <img class="ui circular small image animated bounceInUp" src="{{image}}">
      </div>
      <div class="thirteen wide column">
        <h1 class="animated bounceInDown">{{{title}}}</h1>
        <p class="animated bounceInRight">{{{summary}}}</p>
        <p class="animated bounceInUp"><small>{{./getAuthorInfo}}</small></p>
      </div>
    </div>
  {{/contentFor}}

  {{#breadcrumb items=$.breadcrumb}}
    {{#if canEdit}}
      <i class="right chevron icon divider"></i>
      <a class="section" href="{{pathFor 'blogPostEdit'}}">edit</a>
    {{/if}}
  {{/breadcrumb}}

  {{#each chunks}}
    <p>
      {{#markdown}}{{content}}{{/markdown}}
    </p>
  {{/each}}
  <small>{{./getAuthorInfo}}</small>
</template>
