<template name="master">
  <div class="master layout header">

    {{#backstretch images=images fade=1000}}
      <div class="banner {{activeIf 'landingPage'}}">
        {{> yield 'banner'}}
      </div>
    {{/backstretch}}

    <div class="ui fluid three item inverted menu">
      <a class="{{activeIf 'landingPage'}} item" href="{{pathFor 'landingPage'}}">
        <i class="home icon"></i> Home
      </a>
      <a class="{{activeIf 'about'}} item" href="{{pathFor 'about'}}">
        <i class="child icon"></i> About
      </a>
      <a class="{{activeIf 'blogList'}} item" href="{{pathFor 'blogList'}}">
        <i class="cube icon"></i> Blog
      </a>
    </div>

    {{#backstretch image='https://s3-us-west-2.amazonaws.com/anticoders/assets/images/keyboard.jpg'}}
      <div class="header {{activeUnless 'landingPage'}}">
        <div class="overlay">
          <div class="content">
            {{> yield 'header'}}
          </div>
        </div>
      </div>
    {{/backstretch}}

  </div>

  <div class="master layout content">
    {{> yield}}
  </div>

  <div class="master layout footer">
    <div class="ui grid">
      <div class="four wide column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <div class="four wide column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <div class="four wide column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <div class="four wide column">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="master layout copyright">
    Copyright {{year}} Anticoders
  </div>
</template>
