<template name="topMenu">
  <div class="layout-top-menu">
  
    <div class="ui inverted menu">
      <a class="{{activeIf 'landingPage'}} item" href="{{pathFor 'landingPage'}}">
        <i class="home icon"></i> Home
      </a>
      <a class="{{activeIf 'about'}} item" href="{{pathFor 'about'}}">
        <i class="child icon"></i> About us
      </a>
      <a class="{{activeIf 'blogList'}} item" href="{{pathFor 'blogList'}}">
        <i class="cube icon"></i> Blog
      </a>
      <a class="{{activeIf 'login'}} item" href="{{pathFor 'login'}}">
        <i class="sign in icon"></i> Login
      </a>
      <span class="item">
        {{hint}}
      </span>
    </div>
    {{> yield}}
  </div>
</template>
