<template name="profileForm">
  <form class="ui form">
    <h4 class="ui dividing header">Personal Information</h4>
    <div class="required field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="lastName" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="required field">
      <label>Motto</label>
      <input type="text" name="summary" placeholder="Write a summary here">
    </div>
    <div class="required field">
      <label>Biography</label>
      <textarea name="biography"></textarea>
    </div>
    <h4 class="ui dividing header">Account Settings</h4>
    <div class="two fields">
      <div class="field">
        <label>Username</label>
        <div class="ui icon input">
          <input type="text" name="username" placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <button class="ui basic right labeled icon fluid button" type="button">change password <i class="lock icon"></i></button>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui error message">
    </div>
    <div class="ui submit primary button">save changes</div>
  </form>
</template>
