<template name="sidebar">

  <div class="ui left vertical inverted labeled icon sidebar menu">
    <a class="item" href="{{pathFor 'landingPage'}}" data-action="toggle">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor 'blogList'}}" data-action="toggle">
      <i class="cube icon"></i>
      Blog
    </a>
    <a class="item" href="{{pathFor 'about'}}" data-action="toggle">
      <i class="child icon"></i>
      About
    </a>
    <a class="item" href="{{pathFor 'login'}}" data-action="toggle">
      <i class="sign in icon"></i>
      Login
    </a>
  </div>

  <div class="ui black big launch right attached fixed button" data-action="toggle">
    <i class="content icon"></i>
  </div>

</template>
