<template name="sidebar">

  <div class="ui left vertical inverted labeled icon sidebar menu">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="child icon"></i>
      About
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      History
    </a>
    <a class="item">
      <i class="mail icon"></i>
      Messages
    </a>
    <a class="item">
      <i class="chat icon"></i>
      Discussions
    </a>
    <a class="item">
      <i class="sign in icon"></i>
      Login
    </a>
  </div>

  <div class="ui black big launch right attached fixed button" data-action="toggle">
    <i class="content icon"></i>
  </div>

</template>
