<template name="userCard">
  <div class="ui card">
    <div class="image">
      <img src="{{avatarUrl}}">
    </div>
    <div class="content">
      <a class="header">{{firstName}} {{lastName}}</a>
      <div class="meta">
        <span class="date">Joined in {{joinedInYear}}</span>
      </div>
      <div class="description">
        {{summary}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="comment outline icon"></i>
        100 Posts
      </a>
    </div>
  </div>
</template>
